/* font-family: 'Outfit', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --text-color: #fff;
    --bg-color: #cd5905;
    --main-color: #f79021;
    --other-color: #302b18;
    --h1-font: 4rem;
}

body{
    background-color: var(--bg-color);
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    
}

.logo {
    width: 50px;
    
}

header {
    position: fixed;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    z-index: 1000;
}

.navlist {
    display: flex;
    justify-content: space-between;
    gap: 2.5em;
    

}

.navlist li a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
} 

.navlist li a:hover {
    color: var(--main-color);
}

.cta-btn {
    font-size: 1rem;
    font-weight: 500;
    color: var(--other-color);
    padding: 0.5em 1em;
    background-color: var(--bg-color);
    box-shadow: var(--main-color) 0 2px 32px 0 ;
    border-radius: 13px;
    transition: all 0.3s ease;
}

.cta-btn:hover {
    transform: scale(1.05) translateY(3px);
}

.header-btns {
    display: flex;
    gap: 1em;
    align-items: center;
}

#menu-icon {
    font-size: 2rem;
    color: var(--text-color);
}

main {
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 2em;
    background-image: url('../images/bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    
    background-position: center;
    
}

main h1 {
    margin-top: 3em;
    margin-bottom: 0.5em;
    color: var(--text-color);
    font-family: 'Outfit', sans-serif;
    font-size: var(--h1-font);
    width: 50%;
}

main p {
    color: var(--text-color);
    font-size: 1.2rem;
    width: 50%;
    text-align: justify;
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    gap: 2em;
    align-items: center;
}

.btn1 {
    
    background-color: var(--main-color);
    box-shadow: var(--main-color) 0 2px 32px 0;
    padding: 0.5em 1em;
    border-radius: 13px;
    color: var(--other-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    

}

.btn1:hover {
    transform: scale(1.05) translateY(-3px);
}

.btn2 {
    
    background-color: var(--other-color);
    box-shadow: var(--main-color) 0 2px 32px 0;
    padding: 0.5em 1em;
    border-radius: 13px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s;
    border: 2px solid var(--other-color);
    

}

.btn2:hover {
    transform: scale(1.05) translateY(-3px);
    
    background-color: transparent;
    
}